<h2>New Issue</h2>

<%= render 'form', issue: @issue %>

<div class="redTable outerTableFooter">
  <div class="tableFootStyle">
    <div class="links">
      <%= link_to 'Back', issues_path %>
    </div>
  </div>
</div>

